<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-6">
    <form class="form-horizontal" (ngSubmit)="onSubmit()" #roleForm="ngForm">
      <legend [ngSwitch]="isNew">
          <template [ngSwitchWhen]="true">New Role</template>
          <template ngSwitchDefault>Edit Role</template>
      </legend>
      <div class="form-group">
        <label [attr.for]="name" class="col-sm-6 control-label">Name</label>
        <div class="col-sm-6">
          <template [ngIf]="!isNew">
            <input type="hidden" class="form-control" [(ngModel)]="role.id" ngControl="id"  #name="ngForm" />
          </template>
          <input type="text" class="form-control" [(ngModel)]="role.name"
                [attr.id]="name"  ngControl="name"  #name="ngForm"  [attr.placeholder]="'Role name'" />
        </div>
      </div>
      <div class="form-group">
        <label [attr.for]="description" class="col-sm-6 control-label">Description</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="role.description"
                [attr.id]="description" [attr.placeholder]="'Description'"  ngControl="description"  #name="ngForm" />
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered table-sm">
        <thead>
          <tr>
            <th>Resource</th>
            <th *ngFor="#accessLevel of accessLevels"><div class="text-center">{{accessLevel}}</div></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="#resource of resources">
            <td>{{resource}}</td>
            <td *ngFor="#accessLevel of accessLevels">
              <label *ngIf="isValidPermission(resource, accessLevel)">
                  <input type="checkbox" [(ngModel)]="permissionGroups[resource][accessLevel].selected" value>{{accessLevel}}
              </label>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <button type="submit" class="btn btn-default">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
