<div class="row">
  <div class="col-sm-4">Showing {{elementStart}} to {{elementEnd}} of {{totalElements}}</div>

  <div class="col-sm-6 data-table">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{disabled:isPreviousDisabled}">
        <a class="page-link" href (click)="selectPage(1, $event)" aria-label="First">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" [ngClass]="{disabled:isPreviousDisabled}">
        <a class="page-link" href (click)="selectPage(pageNumber-1, $event)" aria-label="Previous">
          <span aria-hidden="true">&lsaquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="#index of pagerStartIndexRange">
        <a class="page-link" href (click)="selectPage(index, $event)">{{index}}</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href (click)="selectPage(pageNumber, $event)">{{pageNumber}}</a>
      </li>
      <li class="page-item" *ngFor="#index of pagerEndIndexRange">
        <a class="page-link" href (click)="selectPage(index, $event)">{{index}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:isNextDisabled}">
        <a class="page-link" href (click)="selectPage(pageNumber+1, $event)" aria-label="Next">
          <span aria-hidden="true">&rsaquo;</span>
        </a>
      </li>
      <li class="page-item" [ngClass]="{disabled:isNextDisabled}">
        <a class="page-link" href (click)="selectPage(totalPages, $event)" aria-label="Last">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-2">
    <div class="input-group">
      <input type="number" min="1" [attr.max]="totalPages" class="form-control" style="width: 5em" placeholder="Page">
      <button class="btn btn-primary" type="button">Go!</button>
    </div>
  </div>


</div>
