
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4" *ngIf="tableDef.insertable">
        <button class="btn btn-primary" (click)="navigateToNew($event)">Add New</button>
      </div>
      <div class="col-sm-4">
      </div>
  </div>
  </div>

  <div class="col-md-12">
    <table class="table dataTable table-striped table-hover table-sm table-bordered">
      <thead>
        <tr>
          <th *ngFor="#col of tableDef.columnDefs"
            [ngClass]="getSortClass(col)" (click)="sort(col)">
            {{col.displayName}}
          </th>
          <th *ngIf="tableDef.updatable || tableDef.deletable">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="#row of page.content">
          <td *ngFor="#col of tableDef.columnDefs">{{row[col.columnName]}}</td>
          <td *ngIf="tableDef.updatable || tableDef.deletable">
            <a href *ngIf="tableDef.updatable" (click)="navigateToEdit(row[tableDef.idColumnName],$event)">Edit</a>
            <a href *ngIf="tableDef.deletable" (click)="deleteRow(row,$event)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <data-grid-pager
      [number]="page.number"
      [totalPages]="page.totalPages"
      [totalElements]="page.totalElements"
      [size]="page.size"
      [numberOfElements]="page.numberOfElements"
      [pageSizes]="pageSizes"
      (pageChanged)="onPageChange($event)"
      (pageSizeChanged)="onPageSizeChange($event)">
    </data-grid-pager>
  </div>
</div>
