<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <td *ngFor="#col of tableDef.columnDefs"><a (click)="sort(col.columnName)">{{col.displayName}}</a></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="#row of page.content">
          <td *ngFor="#col of tableDef.columnDefs">{{row[col.columnName]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <data-grid-pager
      [number]="page.number"
      [totalPages]="page.totalPages"
      [totalElements]="page.totalElements"
      [size]="page.size"
      [numberOfElements]="page.numberOfElements"
      [pageSizes]="pageSizes"
      (pageChanged)="onPageChange($event)"
      (pageSizeChanged)="onPageSizeChange($event)"
      >
    </data-grid-pager>
  </div>
</div>
