
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <page-size [size]="page.size" [pageSizes]="pageSizes"
          (pageSizeChanged)="onPageSizeChange($event)">
        </page-size>
      </div>

      <div class="col-sm-6 pull-right" *ngIf="tableDef.insertable">
        <button class="btn btn-primary" (click)="navigateToNew($event)">Add New</button>
      </div>
  </div>
  </div>

  <div class="col-md-12">
    <table class="table data-table table-striped table-hover table-sm table-bordered">
      <thead class="thead-default">
        <tr>
          <th>
            <template [ngIf]="tableDef.multiSelectable">
              <input type="checkbox" [(ngModel)]="allSelected" (change)="toggleSelectAll($event)">
            </template>
          </th>
          <th *ngIf="tableDef.updatable || tableDef.deletable">Action</th>
          <th *ngFor="#col of tableDef.columnDefs"
            [ngClass]="getSortClass(col)" (click)="sort(col)">
            {{col.displayName}}
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="#row of page.content; #i = index" [ngClass]="{selected:selectedRows[i]}">
          <td><input type="checkbox" [(ngModel)]="selectedRows[i]" (change)="rowSelectionChange($event)"></td>
          <td *ngIf="tableDef.updatable || tableDef.deletable">
            <a href *ngIf="tableDef.updatable" (click)="navigateToEdit(row[tableDef.idColumnName],$event)">Edit</a>
            <a href *ngIf="tableDef.deletable" (click)="deleteRow(row,$event)">Delete</a>
          </td>
          <td *ngFor="#col of tableDef.columnDefs">{{row[col.columnName]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <data-grid-pager
      [number]="page.number"
      [totalPages]="page.totalPages"
      [totalElements]="page.totalElements"
      [size]="page.size"
      [numberOfElements]="page.numberOfElements"
      [pageSizes]="pageSizes"
      (pageChanged)="onPageChange($event)"
      (pageSizeChanged)="onPageSizeChange($event)">
    </data-grid-pager>
  </div>
</div>
