table.data-table thead > tr > th.sorting_asc,
table.data-table thead > tr > th.sorting_desc,
table.data-table thead > tr > th.sorting,
table.data-table thead > tr > td.sorting_asc,
table.data-table thead > tr > td.sorting_desc,
table.data-table thead > tr > td.sorting {
  padding-right: 30px;
}
table.data-table thead > tr > th:active,
table.data-table thead > tr > td:active {
  outline: none;
}
table.data-table thead .sorting,
table.data-table thead .sorting_asc,
table.data-table thead .sorting_desc,
table.data-table thead .sorting_asc_disabled,
table.data-table thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}
table.data-table thead .sorting:after,
table.data-table thead .sorting_asc:after,
table.data-table thead .sorting_desc:after,
table.data-table thead .sorting_asc_disabled:after,
table.data-table thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5;
}
table.data-table thead .sorting:after {
  opacity: 0.2;
  content: "\e150";
  /* sort */
}
table.data-table thead .sorting_asc:after {
  content: "\e156";
  /* sort-by-attributes */
}
table.data-table thead .sorting_desc:after {
  content: "\e155";
  /* sort-by-attributes-alt */
}
table.data-table thead .sorting_asc_disabled:after,
table.data-table thead .sorting_desc_disabled:after {
  color: #eee;
}

.data-table > ul.pagination{
  margin-top: 0;
}
